@import "../breakPoint";


@media screen and (min-width:$breakPointMobile){
  footer{
    display: none;
  }
}

@media screen and (max-width:$breakPointMobile){
  footer{
    display: flex;
    justify-content: center;
    .button{
      position: fixed;
      bottom: 0;
      margin-bottom: 20px;
      font-size: 2.5rem;
      z-index: 9999;
    }

  }
  .footerModal{
    opacity: 0;
    left: 1000px;
    background-color: rgba(000000, 000000, 000000, 0.5);
    width: 100vw;
    position: fixed;
    z-index: 9997;
    top: 0;
    overflow: hidden;
    color: white;

    nav{
      height: 100vh;
      ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        height: 80%;
        padding-top: 20%;
        margin-bottom: 10%;
        li{
          margin-top: 2.5vh;
          padding-bottom: 2.5vh;
          border-bottom: 1px solid white;
          width: 30vw;
          a{
            width: 100%;
            text-align: center;
            color: #ffffff!important;
          }
        }
        li:last-child{
          border-bottom: none;
        }
      }
    }

    a{
      color: white!important;
      z-index: 9998;
      font-size: 2rem;
    }

    li{
      display: flex;
      justify-content: bottom;
    }
  }
  
  .footerNotActive{
    animation-name: hide;
    animation-delay: 0s;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  .footerActive{
    animation-name: show;
    animation-delay: 0s;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes show{
    0% {
      left: 0;
      opacity: 0;
    }

    1% {
      left: 0;
      opacity: 0;
    }

    100% {
      left: 0;
      opacity: 1;
    }
  }
  @keyframes hide{
    0% {
      left: 0;
      opacity: 1;
    }

    99% {
      left: 0;
      opacity: 0;
    }

    100% {
      left: 1000px;
      opacity: 0;
    }
  }
}

