@import "../breakPoint";

.globalHeader{
  width: 100%;
  height: 0px;
  position: fixed;
}

.globalHeader .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  // transition-duration: 0.2s;
  // transition-timing-function: ease-out;
  position: relative;
  top: 5vh;
  width: 84vw;
}
.globalHeader .title{
  flex-basis: 65%;
  margin: 10px;
  margin-left: 0px; 
  position: relative;
  top: 20px;
}
.globalHeader{
  .globalNavigation{
    flex-basis: 35%;
    ul{
      color: white;
      li{
        a{
          padding-right: 1vw;
          padding-left: 1vw; 
          margin-left: 1vw;
        }
      }      
      .activePage{
        a {
          width: 100%;
          text-align: center;
          padding: 0.4em 0;
          position: relative;
          display: inline-block;
        }
        a:before {
          position: absolute;
          content: '';
          transition: all 0.35s ease;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-top: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
        }
      }
      .notActive{
        a {
          width: 100%;
          text-align: center;
          padding: 0.4em 0;
          position: relative;
          display: inline-block;
        }
        a:before {
          position: absolute;
          content: '';
          transition: all 0.35s ease;
          opacity: 0;
          top: 25%;
          bottom: 25%;
          left: 0;
          right: 0;
          border-top: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
        }
        a:hover{
          opacity: 0.9;
        }
        a:hover:before{
          opacity: 0.9;
          top: 0;
          bottom: 0;
        }
      }
    }
  }
}

.globalHeader .globalNavigation > ul{
  display: flex;
  justify-content: space-around;
}
.siteTitle{
  display: block;
  font-size: 3rem;
  line-height: 1;
}


@media screen and (min-width:$breakPointMobile){
  .display{
    .wrapper{
      animation-name: headerDisplay;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }
  }
  .hide{
    .wrapper{
      animation-name: headerHide;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }
  }
}
@keyframes headerHide{
  0%{
    top: 5vh;
    width: 84vw;
  }

  50%{
    top: 2vh;
    width: 84vw;
  }

  100%{
    top: 2vh;
    width: 90vw;
  }
}

@keyframes headerDisplay{
  0%{
    top: 2vh;
    width: 90vw;
  }

  50%{
    top: 2vh;
    width: 84vw;
  }

  100%{
    top: 5vh;
    width: 84vw;
  }
}




@media screen and (max-width:$breakPointMobile){
  .globalHeader{
    nav{
      display: none;
    }
    .wrapper{
      .siteTitle{
        display: block;
        font-size: 2rem;
        line-height: 1;
        text-align: left;
        width: 90vw;
        margin-left: -0.67em;
        margin: 0 auto;
        position: relative;
        left: -0.5em;
      }
      .siteTitle.start{
        margin: 0px;
      }
    }
  }
}