@import "../breakPoint";
@import "./_layoutAnimation";



html{
  // animation-name: layoutGrad 10s ease 0 infinite alternate;
  // layoutDeg 10s ease 0 infinite alternate;
  // animation-name: layoutGrad;
  // animation-direction: alternate;
  // animation-duration: 15s;
  // animation-iteration-count: infinite;
  
  background: linear-gradient(
    282deg,
    #085078,
    #355C7D,
    #6C5B7B,
    #C06C84,
    rgb(187, 77, 72),
    #2C3E50,
    #ffd452
  );
  background-size: 1400% 1400%;
  animation: AnimationName 100s ease-in-out infinite;
}


.layoutWrapper{
  animation: fadeIn 1s ease-in 0s 1 normal;
}

/*
.layoutWrapper{
  min-height: 100vh;
  position: relative;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  background: 
    linear-gradient(
      25deg,
      rgba(192, 108, 108, 1),
      #6C5B7B,
      #355C7D
    )
  ;
}

.layoutWrapperabout{
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  background: 
    linear-gradient(
      25deg,
      #f1f2b5,
      #135058
    )
  ;
}
*/
.layoutPad{
  height: 8vh;
}


.layoutMain{
  background-color: rgba(000000,000000,000000,0.3);
  li{
    list-style: none;
  }
}

@media screen and (min-width:$breakPointMobile){
  .layoutMain{
    min-height: 100vh;
    width: 76vw;
    margin: 0 auto;
    padding: 4vw;
  }
  .copyRight{
    width: 100vw;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 40px;
  }
  .pageTitle{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
@media screen and (max-width:$breakPointMobile){
  .layoutMain{
    min-height: 100vh;
    width: 90vw;
    margin: 0 auto;
    padding: 10px;
  }

  .layoutFooter{
    position: fixed;
    bottom: 0;
  }
  .copyRight{
    width: 100vw;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .pageTitle{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 2.5rem;
  }
}