@import "../breakPoint";

.aboutPage{
  >div{
    margin-top: 8vh;
  }
  img{
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  p{
    margin-bottom: 15px;
    strong{
      line-height: 2;
      font-size: 2rem;
    }
  }
  ul{
    margin-bottom: 20px;
    li{
      margin-bottom: 10px;
    }
  }
  li::before{
    content: "･";
    margin-right: 10px;
  }
}

