.live{
  .liveList{
    li{
      display: flex;
      justify-content: space-around;
      margin-bottom: 5%;
      margin-top: 2%;
      .date{
        padding: 10px;
        border-top: solid 1px rgba(255,255,255,0.8);
        border-bottom: solid 1px rgba(255,255,255,0.8);
        flex-basis: 20%;
        align-self: flex-start;
        h3{
          text-align: right;
          font-size: 2rem;
        }
      }
      .article{
        padding: 10px;
        border-top: solid 1px rgba(255,255,255,0.8);
        // border-bottom: solid 1px rgba(255,255,255,0.8);
        flex-basis: 70%;
        align-self: flex-start;
        h3{
          font-size: 2rem;
        }
      }
    }
  }
}