
@font-face{
  font-family: mplus;
  src: url(http://fonts.googleapis.com/earlyaccess/mplus1p.css);
}
@font-face{
  font-family: futuraExtended;
  src: url("../fonts/FuturaExtended.ttf") format("opentype");
}
@font-face{
  font-family: gidoleRegular;
  src: url("../fonts/GidoleFont/Gidole-Regular.ttf") format("truetype");
}
@font-face{
  font-family: gidolinya-Regular;
  src: url("../fonts/GidoleFont/Gidolinya-Regular.otf") format("opentype");
}
@font-face{
  font-family: morganiteMedium;
  src: url("../fonts/Morganite/Morganite-Medium.ttf") format("truetype");
}
@font-face{
  font-family: morganiteBlack;
  src: url("../fonts/Morganite/Morganite-Black.ttf") format("truetype");
}
@font-face{
  font-family: leagueSpartanBold;
  src: url("../fonts/league-spartan-master/_webfonts/leaguespartan-bold.ttf") format("truetype");
}
@font-face{
  font-family: aleagueSpartanBold;
  src: url("../fonts/MADE-Evolve-Sans-PERSONAL-USE/MADE\ Evolve\ Sans\ Light\ \(PERSONAL\ USE\).otf") format("opentype");
}
/*
.youtube-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 560px;
  height: 315px;
}

.youtube-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
*/